{% load static %}
<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs><path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" /></defs>
    <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(0,0,204,0.7" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(0,0,204,0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(0,0,204,0.3)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#0000cc" />
    </g>
  </svg>
  <footer class="footer">
    
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <figure class="logo"> 
                <img src="{% static 'images/agile-logo.png' %}" alt="AGILE"> 
              </figure>

              <h6 class="widget-title">Address</h6>
              
                <p>AGILE Maritime Resources Inc.
                  3906 Woodland Park Centre
                  Hen. Macabulos St.
                  Bangkal, Makati City, 
                  1233, Philippines
                </p>
             
          </div>
          <!-- end col-4 -->
          <div class="col-lg-3 col-md-4">
                  <h6 class="widget-title">Tel Nos.</h6>
                  <p>
                      <a href="tel:+63277381606" title="+63 2 7738 1606">+63 2 7738 1606 </a><br>
                      <a href="tel:+6377381607" title="+63  7738 1607">+63  7738 1607 </a><br>
                      <a href="tel:+6388890251" title="+63 8889 0251">+63 8889 0251 </a><br>
                </p>
                <h6 class="widget-sub-title">Email Address</h6>
                <p>
                  <a href="#">agile@agilecrew.com </a> <br>
                  <a href="#">arecruitment@agilecrew.com</a> <br>
                  <a href="#">operations@agilecrew.com</a> 
                </p>
          </div>
          <!-- end col-4 -->
          <div class="col-lg-3 col-md-4">
           
             <h6 class="widget-title">Quick Links</h6>
             <ul class="footer-menu">
              <li><a href="{% url 'about' %}">About AGILE</a></li>
              <li><a href="{% url 'news' %}">News</a></li>
              <li><a href="{% url 'contact-us' %}">Contact Us</a></li>
              <li><a href="{% url 'about' %}">Job Opportunities</a></li>
              <li><a href="{% url 'about' %}">Privacy Policy</a></li>
            </ul>
            <!-- <form>
              <input type="email" placeholder="enter your email address....">
              <input type="submit" value="Subscribe">
            </form> -->
          </div>

          <div class="col-lg-2">
            <h6 class="widget-title">Follow us:</h6>
            <ul class="footer-social">
              <li><a href="#" target="_blank"><i class="bi bi-facebook"></i> @AGILEMaritimePH</a></li>
              <li><a href="#" class="me-2" target="_blank"><i class="bi bi-linkedin"></i> AgileMaritimePH</a></li>
              <li><a href="#" class="me-2" target="_blank"><i class="bi bi-youtube"></i> AGILE Maritime (Phils.)</a></li>
              <li><a href="#" class="me-2" target="_blank"><i class="bi bi-instagram"></i> @agilemaritimeph</a></li>
            </ul>

          </div>
          </div>

          
          <!-- end col-4 -->
          <div class="col-12">
            <div class="footer-bottom"> 
                <span>© Copyright© AGILE Maritime 2021. AGILE Maritime Resources Inc. All rights reserved. </span> 
                <!-- <span>Site created by <a href="#">Themezinho</a></span>  -->
            </div>
            <!-- end footer-bottom --> 
          </div>
          <!-- end col-12 --> 
        </div>
        <!-- end row --> 
      </div>
      <!-- end container --> 
  </footer>
