{% extends 'base.html' %}
{% load static %}
{% block title %}| About AGILE{% endblock%}
{% block content %}
   <!-- Hero Banner -->
   <header class="page-header banner-top" data-background="{% static 'images/about-banner.jpg'%}" style="background: url('{% static 'images/about-banner.jpg'%}') rgba(0, 0, 0, 0.3) center center;">
    <div class="container">
      <h1 class="inner-banner__title">About Us</h1>
    </div>
    <!-- end container --> 
  </header>
  <div class="waves-grp">
    <svg class="waves-banner2 margin-top-50t" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs><path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" /></defs>
      <g class="waves-banner2__parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="#0000cc" />
      </g>
    </svg>
    <svg class="waves-banner" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs><path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" /></defs>
      <g class="waves-banner__parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="#0000cc" />
      </g>
    </svg>
  </div>

  {% for part in page %}
  <section class="content-section_none">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="section-title no-margin-b">
            <figure><img img src="{% static 'images/logo-shape.png' %}" class="shape-news-logo" alt="AGILE" /></figure>
            <h2 class="mb-4">{{part.title}} </h2>
          </div>
        </div>
      </div>
    </div>
  </section>  
  <section class="content-section_50t">
    <div class="container">
      <div class="row justify-content-center generic-content-container">
        <div class="col-lg-8">
          {{ part.content | safe }}
        </div>
      </div>
    </div>
  </section>
  {% endfor %}
<section class="content-section image-bar" data-background="{% static 'images/sabout-banner-2.jpg'%}" style="background: url('{% static 'images/about-banner-2.jpg'%}');"> </section>
 
<section class="content-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="section-title">
            <figure><img src="{% static 'images/logo-shape.png'%}" class="shape-news-logo"/></figure>
            <h2>Our Affiliations</h2>
            <!-- <p>We are committed to delivering professional services of the highest standard</p> -->
          </div>
          <!-- end section-title --> 
        </div>
        <!-- end col-12 -->
        <div class="col-lg-3 col-6">
          <div class="logo-item"> <img src="{% static 'images/logo-lubeca.jpg'%}" alt="LUBECA"> </div>
          <!-- end logo-item --> 
        </div>
        <!-- col-3 -->
        <div class="col-lg-3 col-6">
          <div class="logo-item"> <img src="{% static 'images/logo-c-c.jpg'%}" alt="C&C"> </div>
          <!-- end logo-item --> 
        </div>
        <div class="col-lg-3 col-6">
          <div class="logo-item"> <img src="{% static 'images/logo-pamas.jpg'%}" alt="PAMAS-INTERMAP"> </div>
          <!-- end logo-item --> 
        </div>
        <!-- col-3 --> 
        <div class="col-lg-3 col-6">
          <div class="logo-item"> <img src="{% static 'images/logo-wista.jpg'%}" alt="WISTA International"> </div>
          <!-- end logo-item --> 
        </div>
        
      </div>
      <!-- end row --> 
      <div class="row justify-content-center pt-5">
        <div class="col-12">
          <div class="section-title">
            <h2>Our Accreditations</h2>
          </div>
          <!-- end section-title --> 
        </div>
        <div class="col-lg-3 col-6">
          <div class="logo-item"> <img src="{% static 'images/logo-npcc.jpg'%}" alt="NPCC"> </div>
          <!-- end logo-item --> 
        </div>
        <div class="col-lg-3 col-6">
          <div class="logo-item"> <img src="{% static 'images/logo-bureau-veritas.jpg'%}" alt="BUREAU VERITAS Certification"> </div>
          <!-- end logo-item --> 
        </div>
      </div>
    </div>
    <!-- end container --> 
</section>
{% endblock %}