{% extends 'base.html' %}
{% load static %}
{% block content %}
   <!-- Hero Banner -->
   <header class="page-header banner-top" data-background="{% static 'images/slide01.jpeg'%}" style="background: url('{% static 'images/slide01.jpeg'%}') rgba(0, 0, 0, 0.3);">
    <div class="container">
      <h1 class="inner-banner__title">About Us</h1>
      <!-- <p>Take the complexity out of customs Freight Solutions<br>
        with customs brokerage services</p> -->
    </div>
    <!-- end container --> 
  </header>
  <div class="waves-grp">
    <svg class="waves-banner2 margin-top-50t" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs><path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" /></defs>
      <g class="waves-banner2__parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="#0000cc" />
      </g>
    </svg>
    <svg class="waves-banner" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs><path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" /></defs>
      <g class="waves-banner__parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="#0000cc" />
      </g>
    </svg>
  </div>

  <section class="content-section_none">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="section-title text-left no-margin-b">
            <!-- <h6>Who we are?</h6> -->
            <figure><img img src="{% static 'images/logo-shape.png' %}" class="shape-news-logo" alt="AGILE" /></figure>
            <h2>About AGILE</h2>
         
          <!-- end section-title --> 
        </div>
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </section>  
<!-- marketing -->

  <section class="content-section_50t">
    <div class="container">
      <div class="row justify-content-center generic-content-container">
        <div class="col-lg-8">
          <div class="section-title text-left">
            <!-- <h6>Who we are?</h6> -->
            <!-- <figure><img img src="images/logo-shape.png" class="shape-news-logo" alt="AGILE" /></figure>
            <h2>About AGILE</h2> -->
          </div>
            <p>AGILE Maritime Resources (AGILE) simplifies the complex and often confusing process of recruiting and hiring Filipino officers and ratings for your ocean trading ships. Our more than 26 years of experience in the ship crew supply industry in the Philippines outfitted us with the theoretical and practical knowledge allowing us to expertly navigate the maze in the Philippine bureaucracy. </p>
            <p>We are a reliable business partner – we look after your interest. We make sure to keep your most valued crew through our meticulous crew planning and rotation. We are very proud of our 90 % retention rate. And, we keep the crew’s families happy by prompt payment of monthly Home Allotment. We are ever mindful of your crew costs. We see to it that we perform timely and cost-efficient crew changes. We manage your risks against potential crew claims – we have a strong legal background and deep practical experience to protect you from nuisance claims. </p>
            <p>We are adaptable.  We tailor-fit our processes to be in sync with our client’s needs - patently distinct plus of doing business with medium - sized ship manning agency. </p>
            <p>For years to come, shipping will be sailing on precarious waters. Crew changes will be impacted by the geo-political events, pandemic and climate change. When you are navigating a challenging course, you want a partner that you can depend on.  We, in AGILE got you covered.  You can count on us.</p>
          </div>
          <!-- end section-title --> 
        </div>
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </section>
  <section class="content-section image-bar" data-background="{% static 'images/section-bg-02.jpeg'%}" style="background: url('{% static 'images/section-bg-02.jpeg'%}');"> </section>
 
<section class="content-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="section-title">
            <figure><img src="{% static 'images/logo-shape.png'%}" class="shape-news-logo"/></figure>
            <h2>Our Affiliations</h2>
            <!-- <p>We are committed to delivering professional services of the highest standard</p> -->
          </div>
          <!-- end section-title --> 
        </div>
        <!-- end col-12 -->
        <div class="col-lg-3 col-6">
          <div class="logo-item"> <img src="{% static 'images/logo-lubeca.jpg'%}" alt="LUBECA"> </div>
          <!-- end logo-item --> 
        </div>
        <!-- col-3 -->
        <div class="col-lg-3 col-6">
          <div class="logo-item"> <img src="{% static 'images/logo-c-c.jpg'%}" alt="C&C"> </div>
          <!-- end logo-item --> 
        </div>
        <div class="col-lg-3 col-6">
          <div class="logo-item"> <img src="{% static 'images/logo-pamas.jpg'%}" alt="PAMAS-INTERMAP"> </div>
          <!-- end logo-item --> 
        </div>
        <!-- col-3 --> 
        <div class="col-lg-3 col-6">
          <div class="logo-item"> <img src="{% static 'images/logo-wista.jpg'%}" alt="WISTA International"> </div>
          <!-- end logo-item --> 
        </div>
        
      </div>
      <!-- end row --> 
      <div class="row justify-content-center pt-5">
        <div class="col-12">
          <div class="section-title">
            <h2>Our Accreditations</h2>
          </div>
          <!-- end section-title --> 
        </div>
        <div class="col-lg-3 col-6">
          <div class="logo-item"> <img src="{% static 'images/logo-npcc.jpg'%}" alt="NPCC"> </div>
          <!-- end logo-item --> 
        </div>
        <div class="col-lg-3 col-6">
          <div class="logo-item"> <img src="{% static 'images/logo-bureau-veritas.jpg'%}" alt="BUREAU VERITAS Certification"> </div>
          <!-- end logo-item --> 
        </div>
      </div>
    </div>
    <!-- end container --> 
</section>
{% endblock %}