{% extends 'base.html' %}
{% load static %}
{% block title %}| Home{% endblock%}
{% block content %}
<div class="large-hero">
    <picture class="large-hero__image">
      <source srcset="{% static 'images/banners/hero--large.jpg' %} 1920w" media="(min-width:1380px)" >
      <source srcset="{% static 'images/banners/hero--medium.jpg' %} 1380w" media="(min-width:990px)" >
      <source srcset="{% static 'images/banners/hero--small.jpg' %} 990w" media="(min-width:640px)" >
      <img srcset="{% static 'images/banners/hero--smaller.jpg' %} 640w" alt="Costal view of ocean and mountains" >
    </picture>
    <div class="large-hero__text-content">
      <div class="container">
        <h1 class="large-hero__title">Riding the Waves of Change on Eagle's Wings</h1>
        <p><a href="{% url 'about' %}" class="btn btn-lg btn-primary mt-4 text-uppercase">More About AGILE</a></p>
      </div>
    </div>
    
  </div>
  <div class="waves-grp">
    <svg class="waves-banner2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs><path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" /></defs>
      <g class="waves-banner2__parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="#0000cc" />
      </g>
    </svg>
    <svg class="waves-banner" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs><path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" /></defs>
      <g class="waves-banner__parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="#0000cc" />
      </g>
    </svg>
  </div>

   <!-- marketing -->
   <main class="container content-section-50t">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="card-border-yelow marketing-card shadow-sm">
                <div class="row">
                  <div class="inner-card">
                      <div class="col-md-4 d-flex justify-content-center align-items-center">
                        <img src="{% static 'images/ship-manning.svg' %}" class="home-featured-icon m"/>
                      </div>
                      <div class="col-md-8">
                          <h2 class="pt-3">Ship manning</h2>
                          <p>We supply top calibre Filipino officers and highly skilled ratings to all types of tankers. We grow our own officers from our pool of deck and engine cadets. Our petty officers and ratings go through continuous tooling and re-tooling trainings to level up their skills and imbibe safety culture.</p>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="card-border-crew marketing-card shadow-sm">
                <div class="row">
                  <div class="inner-card">
                    <div class="col-md-4 d-flex justify-content-center align-items-center">
                      <img src="{% static 'images/crew-management.svg' %}" class="home-featured-icon"/>
                    </div>
                    <div class="col-md-8">
                        <h2 class="pt-2">Crew management</h2>
                        <p>We are proud of more than 15 years of experience managing the Filipino crew complement for LNG ships. Judicious budget management without compromising the quality of the living and working conditions of the Filipino crew onboard is our guiding principle.</p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</main>
<section class="content-section bg-light">
  <div class="container">
    <div class="section-title">
      <h2>Join <strong>Team AGILE</strong>  in riding the waves of change!</h2>
      <p class="text-center"><a href="{% url 'jobs:jobs_list' %}" class="btn btn-lg btn-primary mt-4 text-uppercase">Join Now</a></p>
    </div>
    
    <div class="wrapper wrapper__medium wrapper__b-margin wrapper__b-margin_jointeam">
       <img sizes="(min-width: 970px) 976px, 100vw" srcset="{% static 'images/banners/join-now-small.jpg' %} 565w, {% static 'images/banners/join-now-large.jpg'%} 976w, {% static 'images/banners/join-now-hi-dpi.jpg'%} 1952w" alt="Join Now!">
       <div class="join-img-description"><h2>Al Ghariya - All Hands On Deck</h2></div>
    </div>
  </div>
  
</section>

<!-- testimonials -->
<section class="content-section page-section__testimonials">
  <div class="container wrapper__no-padding-until-large">
    <div class="col-md-12">
      <div class="section-title">
        <h2>What They Say About AGILE</h2>
        <p><a href="{% url 'testimonials:testimonials_list' %}" class="page-section__testimonials-readmore"><i class="bi bi-arrow-right-short"></i> Read more</a></p>
      </div>
    </div>
    
    <div class="row row__gutters row__equal-height-at-large row__gutters-small row__t-padding generic-content-container">
      {% for testimonial in latest_testimonials %}
      <div class="col-md-4">
        <div class="testimonial">
          <div class="testimonial__photo">

            {% if testimonial.image %}
              <img sizes="160px" srcset="{{ testimonial.image.url }}" alt="{{testimonial.name}}">
            {% else %}
              <img src="{% static 'images/profile-default.jpg' %}" alt="Image"> 
            {% endif%}
          
          </div>
          <h3 class="testimonial__title">{{testimonial.name}}</h3>
          <h3 class="testimonial__subtitle">{{testimonial.designation}}</h3>
          {{testimonial.content | safe | truncatechars:170 }}
          <p><a href="{{ testimonial.get_absolute_url }}" class="testimonial--button"><i class="bi bi-arrow-right-short"></i> Read More</a></p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- News Section -->
<section class="content-section content-section__no-top-padding">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <figure>
                <img src="{% static 'images/logo-shape.png' %}" class="shape-news-logo"/>
            </figure>
            <h2>News and Publications</h2>
            <!-- <p>advice and best practice from our own team</p> -->
          </div>
          <!-- end section-title --> 
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-2 mx-md-5 g-4">
        <!-- end col-12 -->
        {% for news in latest_news%}
          <div class="col">
            <div class="recent-news">
              <div class="content">
                <h3>
                  <a href="{{ news.get_absolute_url }}"> {{ news.title}} </a>
                </h3>
                <small>{{ news.publish | date:"M d, Y" }}</small>
                
              </div>
              <div>
                {{news.content | safe | truncatewords:17 | linebreaks}}
              </div>
              
            </div>
          </div>
        {% endfor %}
        <!-- end col-6 -->
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </section>
{% endblock %}