{% extends 'base.html' %}
{% load static %}
{% block title %}| Testimonials - {{testimonial_detail.name}}{% endblock%}
{% block content %}
<!-- Hero Banner -->
<header class="page-header banner-top" data-background="{% static 'images/slide01.jpeg' %}" style="background: url('{% static 'images/slide01.jpeg' %}') rgba(0, 0, 0, 0.3);;">
    <div class="container">
    <h1 class="inner-banner__title">Testimonial</h1>
      </div>
    <!-- end container --> 
    </header>
    <div class="waves-grp">
    <svg class="waves-banner2 margin-top-50t" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs><path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" /></defs>
    <g class="waves-banner2__parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="#0000cc" />
    </g>
    </svg>
    <svg class="waves-banner" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs><path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" /></defs>
    <g class="waves-banner__parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="#0000cc" />
    </g>
    </svg>
    </div>
    
    <!-- marketing -->
    <section class="content-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="news-box testimonial">
                
                  <div class="content"> 
                    <small class="mb-3">{{ testimonial_detail.publish|date:"M d, Y" }}</small>
                    <div class="author">
                          <h3>
                            {% if testimonial_detail.image %}
                              <img src="{{ testimonial_detail.image.url }}" class="testimonial--img" alt="{{testimonial_detail.name}}">
                            {% endif %}
                            {{testimonial_detail.name}} 
                          </h3>
                    </div>
                      {{ testimonial_detail.content | safe }}
                    </div>
                    <!-- end content -->
                </div>
          </div>
          <div class="col-lg-4">
            <aside class="sidebar">
                <!-- end widget -->
                <div class="widget">
                <h6 class="widget-title">Recent Testimonials</h6>
                <ul class="categories">
                  {% for testimonial in testimonials_list %}
                    <li><a href="{{ testimonial.get_absolute_url }}">{{ testimonial.name }}</a></li>
                  {% endfor %}
                  </ul>
                </div>
                <!-- end widget -->
                
              </aside>
              
          </div>
      </div>
      </div>
        
    </section>
{% endblock %}