{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Hero Banner -->
<header class="page-header banner-top" data-background="{% static 'images/slide01.jpeg' %}" style="background: url('{% static 'images/slide01.jpeg' %}') rgba(0, 0, 0, 0.3);;">
    <div class="container">
    <h1 class="inner-banner__title">Testimonial</h1>
      </div>
    <!-- end container --> 
    </header>
    <div class="waves-grp">
    <svg class="waves-banner2 margin-top-50t" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs><path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" /></defs>
    <g class="waves-banner2__parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="#0000cc" />
    </g>
    </svg>
    <svg class="waves-banner" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs><path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" /></defs>
    <g class="waves-banner__parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="#0000cc" />
    </g>
    </svg>
    </div>
    
    <!-- marketing -->
    <section class="content-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="news-box testimonial">
                
                  <div class="content"> 
                    <small class="mb-3">31 November, 2020</small>
                    <div class="author">
                          <h3><img src="{% static 'images/avatar.jpeg' %}" class="testimonial--img" alt="Image">EALEXANDER RICHIEZ </h3>
                    </div>
                    <!-- end author --> 
                      <p>Certain but she but shyness why cottage. Gay the put instrument sir entreaties affronting. Pretended exquisite see cordially the you. <strong>Weeks quiet</strong> do vexed or whose. Motionless if no to affronting imprudence no precaution. My indulged as disposal strongly attended. Parlors men express had private village man. Discovery moonlight recommend all one not. Indulged to answered prospect it bachelor is he bringing shutters. Pronounce forfeited mr direction oh he dashwoods ye unwilling. </p>
                      <p>Boy desirous families prepared gay reserved add ecstatic say. Replied joy age visitor nothing cottage. Mrs door paid led loud sure easy read. Hastily at perhaps as neither or ye fertile tedious visitor. Use fine bed none call busy dull when. <u>Quiet ought</u> match my right by table means. Principles up do in me favourable affronting. Twenty mother denied effect we to do on. </p>
                      <p>Believing neglected so so allowance existence departure in. In design active temper be uneasy. Thirty for remove plenty regard you summer though. He preference connection astonished on of ye. Partiality on or continuing in particular principles as. Do believing oh disposing to supported allowance we. </p>
                      <ul>
                      <li>Turned it up should no valley cousin he. </li>
                            <li>Speaking numerous ask did horrible packages set. </li>
                            <li>Ashamed herself has distant can studied mrs. </li>
                            <li>Led therefore its middleton perpetual fulfilled provision frankness. </li>
                            <li>Small he drawn after among every three no. </li>
                            <li>All having but you edward genius though remark one. </li>
                      </ul>
                      <p>Ask especially collecting terminated may son expression. Extremely eagerness principle estimable own was man. Men received far his <strong>dashwood subjects</strong> new. My sufficient surrounded an companions dispatched in on. Connection too unaffected expression led son possession. New smiling friends and her another. Leaf she does none love high yet. Snug love will up bore as be. Pursuit man son musical general pointed. It surprise informed mr advanced do outweigh. </p>
                      </div>
                    <!-- end content -->
                </div>
            <!-- <ul class="pagination">
              <li class="page-item"> <a class="page-link" href="#">PREV</a> </li>
              <li class="page-item"> <a class="page-link" href="#">NEXT</a> </li>
            </ul> -->
          </div>
          <div class="col-lg-4">
            <aside class="sidebar">
                <!-- end widget -->
                <div class="widget">
                <h6 class="widget-title">RECENT POST</h6>
                <ul class="categories">
                    <li><a href="#">ALEXANDER RICHIEZ</a></li>
                    <li><a href="#">RICHARD HILL</a></li>
                    <li><a href="#">DYLAN TAYLOR</a></li>
                  </ul>
                </div>
                <!-- end widget -->
                
              </aside>
              
          </div>
      </div>
      </div>
        
    </section>
{% endblock %}