{% extends 'base.html' %}
{% load static %}
{% block title %}| Testimonials{% endblock%}
{% block content %}
<!-- Hero Banner -->
<header class="page-header banner-top" data-background="{% static 'images/slide01.jpeg' %}" style="background: url('{% static 'images/slide01.jpeg' %}') rgba(0, 0, 0, 0.5);">
    <div class="container inner-banner">
      <h1 class="inner-banner__title">What They Say About AGILE</h1>
    </div>
    <!-- end container --> 
</header>
<div class="waves-grp">
  <svg class="waves-banner2 margin-top-50t" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs><path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" /></defs>
    <g class="waves-banner2__parallax">
      <use xlink:href="#gentle-wave" x="48" y="0" fill="#0000cc" />
    </g>
  </svg>
  <svg class="waves-banner" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs><path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" /></defs>
    <g class="waves-banner__parallax">
      <use xlink:href="#gentle-wave" x="48" y="0" fill="#0000cc" />
    </g>
  </svg>
</div>

<!-- marketing -->

  <section class="content-section content-section__no-top-padding">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="section-title">
            <figure>
              <img src="{% static 'images/logo-shape.png' %}" class="shape-news-logo"/>
          </figure>
            <!-- <h2>What They Say About AGILE</h2> -->
            <p>Advice and best practice from our own team</p>
          </div>
        </div>
        <!-- end col-12 -->
        {% for testimonial in testimonials_list %}
        <div class="col-lg-4 col-md-6">
          <div class="team-member">
            <div class="inner">
              <figure> 
                {% if testimonial.image %}
                  <img src="{{ testimonial.image.url }}" alt="{{testimonial.name}}"> 
                {% else %}
                  <img src="{% static 'images/team-member01.jpeg' %}" alt="Image"> 
                {% endif%}
              </figure>
              <h6>{{ testimonial.name }}</h6>
              <small>{{ testimonial.designation }}</small>
              <div>
               {{ testimonial.content | safe | truncatewords:30 | linebreaks }}
                <br>
                <p class="text-center">
                  <a href="{{ testimonial.get_absolute_url }}" class="testimonial--button"><i class="bi bi-arrow-right-short"></i> Read More</a></p>
              </div>
            </div>
            <!-- end inner -->
          </div>
          <!-- end team-member --> 
        </div>
        {% endfor %}
        <!-- end col-4 -->
        
      </div>
      {% if page %}
      <div class="row">
        <div class="col-md-12"> 
          {% include 'partials/_pagination.html' with page=testimonials_pagination %}
        </div>
      </div>
      {% endif %}
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </section>
{% endblock %}