{% extends 'base.html' %}
{% load static %}
{% block title %}| News - {{news_detail.title}}{% endblock%}
{% load humanize %}
{% block content %}
<!-- Hero Banner -->
<header class="page-header banner-top" data-background="{% static 'images/slide01.jpeg' %}" style="background: url('{% static 'images/slide01.jpeg' %}') rgba(0, 0, 0, 0.3);;">
    <div class="container">
      <h1 class="inner-banner__title">News</h1>
    </div>
    <!-- end container --> 
  </header>
  <div class="waves-grp">
    <svg class="waves-banner2 margin-top-50t" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs><path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" /></defs>
      <g class="waves-banner2__parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="#0000cc" />
      </g>
    </svg>
    <svg class="waves-banner" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs><path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" /></defs>
      <g class="waves-banner__parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="#0000cc" />
      </g>
    </svg>
  </div>

  <!-- marketing -->
  <section class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="news-box">
              <figure>
                  {% if news_detail.photo %}
                    <img src="{{ news_detail.photo.url }}" alt="{{news_detail.title}}">
                  {% endif %}
              </figure>
              <div class="content"> 
                  <small>{{news_detail.publish | date:"M d, Y" }}</small>
                  <h3>{{news_detail.title}}</h3>
                  <div class="author">
                    <span>by <b class="make-capitalized">{{news_detail.author}}</b></span>
                  </div> 
                  <br>
                  <!-- end author --> 

                  {% if news_detail %}
                      {{ news_detail.content | safe}}
                  {% else %}
                      <p>No New detail page available</p>
                  {% endif %}
                    
              </div>
              <!-- end content -->
              </div>
        </div>
        <div class="col-lg-4">
          <aside class="sidebar">
            <!-- <div class="widget">
              <h6 class="widget-title">SEARCH</h6>
              <form>
                <input type="search" placeholder="Type here to search">
                <input type="submit" value="Search">
              </form>
              </div> -->
              <!-- end widget -->
              <div class="widget">
                <h6 class="widget-title">Latest News</h6>
                <ul class="categories">
                {% for latest_news in news_list %}
                  <li><a href="{{ latest_news.get_absolute_url }}">{{ latest_news.title }}</a></li>
                {% endfor %}
                </ul>
              </div>
              {% if similar_posts%}
              <div class="widget">
                <h6 class="widget-title">Similar News Post</h6>
                <ul class="categories">
                {% for similar in similar_posts %}
                  <li><a href="{{ similar.get_absolute_url }}">{{ similar.title }}</a></li>
                  {% empty %}
                  <li>There are no similar posts yet</li>
                {% endfor %}
                </ul>
              </div>
              {% endif %}
              <!-- end widget -->
              
            </aside>
            
        </div>
    </div>
    </div>
      
  </section>
{% endblock %}