{% extends 'base.html'%}
{% load static %}
{% block title %}| Job Opportunities{% endblock%}
{% block content %}
<!-- Hero Banner -->
<header class="page-header banner-top" style="background: url('{% static 'images/slide03.jpg' %} ') rgba(0, 0, 0, 0.3);">
  <div class="container">
    <h1 class="inner-banner__title">We’d have jobs for you</h1>
  </div>
</header>
<div class="waves-grp">
  <svg class="waves-banner2 margin-top-50t" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs><path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" /></defs>
    <g class="waves-banner2__parallax">
      <use xlink:href="#gentle-wave" x="48" y="0" fill="#0000cc" />
    </g>
  </svg>
  <svg class="waves-banner" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs><path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" /></defs>
    <g class="waves-banner__parallax">
      <use xlink:href="#gentle-wave" x="48" y="0" fill="#0000cc" />
    </g>
  </svg>
</div>

<!-- marketing -->
<section class="content-section content-section-0">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="section-title section-title-mb-40" id="job-list_">
            <figure class="figure-job">
              <!-- <img src="{% static 'images/agile-logo.svg' %}" alt="Image"> -->
              <p class="pt-4">Search by Job title, field or competency - It only takes a few seconds. Apply now.</p>
            </figure>
            
          </div>
          <!-- end section-title --> 
        </div>
        
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
</section>
<section class="content-section no-bottom-spacing content-section-40" data-background="#f9f7ef" style="background: rgb(249, 247, 239);">
    <div class="container">
        <div class="row">
        <div class="col-md-3">
            <aside class="sidebar">
              <!-- end widget -->
                <!-- end widget -->
                <div class="widget widget-job-bg">
                
                  <h6 class="widget-title">Categories</h6>
                  <ul class="categories">       
                      <li><a href="{% url 'jobs:jobs_list' %}" class="categories__title-tag">All Jobs</a></li>
                      {% for category in links %}
                        <li><a href="{{ category.get_url}}" class="categories__title-tag">{{ category.category_name}}</a></li>
                      {% endfor %}
                  </ul>
                  <!-- <h5 class="mt-4 border-top">Download Form</h5> -->
                </div>

                <!-- end widget -->
                {% if form_applicant %}
                <div class="widget widget-job-bg">
                  {% for item in form_applicant %}
                  <h5 class="">{{item.title}}</h5>
            
                  <p class="mb-3">
                    <a href="{{item.document.url}}" class="btn-link text-decoration-none" target="_blank"><i class="bi bi-arrow-down-circle"></i> {{item.description}}</a>
                  </p>
                  {% endfor %}
                </div>
                {% endif %}
              </aside>
        </div>    
        <div class="col-md-9" >
            <div class="row">
              <div class="d-flex mb-3">
                <span class="badge bg-warning text-dark ms-2 me-2">{{ jobs_count }}</span> 
                Jobs available
                {% if categories %}
                 in {{ categories }}
                {% endif %}
              </div>
              {% for job in jobs %}
                <div class="col-md-6 mb-4">
                    <div class="joblist-card">
                          <a href="{{ job.get_url }}#job-title" class="d-flex justify-content-between align-items-start">
                            <div class="job-detail">
                              <h2>{{ job.job_name }}</h2>
                              {{ job.description | safe | truncatewords:22 }}
                              <p class="job-detail-date">Date Posted: {{ job.created_date | date:"M d, Y" }}</p>
                            </div>
                            <div class="arrow-circle">
                                <i class="bi bi-chevron-right fontsize-22"></i>
                            </div>
                          </a>
                    </div>
                    <!-- end joblist-card -->
                </div>
              {% endfor %} 
            </div>
        </div>
        </div>
        <!-- end col-12 -->
    </div>
      <!-- end row --> 
    <!-- end container --> 
</section>
{% endblock %}